@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  /* background-color: rgba(106, 245, 88, 0.527); */
  background-image: url('backgroundv2.png');
}

header {
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 166, 0, 0.753);
  /* color: darkblue; */
  color: white;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  font-size: larger;
  font-weight: 800;
  font-family: 'Press Start 2P', cursive, 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

header:hover,
.editor .head:hover,
.previewer .head:hover {
  background-color: gainsboro;
  color: darkblue;
}

.editor,
.previewer {
  margin-top: 100px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.previewer {
  margin-top: 30px;
}

.editor .head,
.previewer .head {
  background-color: rgba(255, 166, 0, 0.753);
  color: white;
  padding: 10px;
  font-family: 'Press Start 2P', cursive, 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

.editor #editor,
.previewer #preview {
  width: 100%;
  height: 500px;
  border: none;
  font-size: 1.5em;
  background-color: rgba(220, 220, 220, 0.733);
  text-align: left;
}

.previewer #preview {
  overflow-y: auto;
}
